
.blockedwp-blocked {
    background-color: #EFCFCF;
}

.blockedwp-ok {
    background-color: #CFEFCF;
}

.blockedwp-timeout, .blockedwp-sslerror, .blockedwp-error {
    background-color: #EFEFCF;
}

#blockedwp-results {
    width: 90%;
    min-width: 400px;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em
}

#blockedwp-results td:first-child {
    text-align: left;
}

#blockedwp-results td {
    text-align: right;
}
